
name: Build EXE Discord Bot

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Instalar pkg
        run: npm install -g pkg

      - name: Gerar EXE
        run: pkg . --targets node18-win-x64 --output bot-discord.exe

      - name: Enviar EXE (ZIP)
        uses: actions/upload-artifact@v4
        with:
          name: bot-discord-exe
          path: bot-discord.exe
